page-about-app {
    /*
    background-color: red;
    ion-navbar,ion-buttons,ion-content{
        background-color: transparent !important;
    }
    */
    ion-grid{
        height: 98%;
    }
    .daslider{
        height: 83%;
    }
    .dabuttons{
        margin-top:10px;
    }
    /*
    .blktoolbar {
        background: #000;
        border-color: transparent;
    }

    .tutorial-page {

        direction: ltr;

        .slide-zoom {
            height: 100%;
        }

        .slide-title {
            margin-top: 2.8rem;
        }

        .slide-image {
            max-height: 50%;
            max-width: 60%;
            margin: 18px 0;
        }

        b {
            font-weight: 500;
        }

        p {
            padding: 0 40px;
            font-size: 14px;
            line-height: 1.5;
            color: #60646B;

            b {
            color: #000000;
            }
        }

    }
    */
}
