<ion-header>
  <ion-navbar color="primary" hideBackButton="true">

    <ion-buttons>
      <button ion-button icon-only menuToggle >
        <ion-icon name="menu"></ion-icon>
      </button>
    </ion-buttons>

    <ion-title class="centerit">{{ 'OFFERS' | translate }}</ion-title>
  </ion-navbar>

</ion-header>


<ion-content class="elbg">

<ion-grid>
  <ion-row *ngFor="let offer of offers | async" >

      <ion-card>
        <ion-card-header color="primary" class="no-padding" >

          <ion-row >
            <ion-col padding  (click)="applyToOffer(offer)">
              <span > {{offer.job_title}} </span>
            </ion-col>
            <!-- LATER
            <ion-col col-2 (click)="showOffer(offer)" style="direction: ltr;">
              <button ion-button clear small icon-only >
                  <ion-icon name="more"></ion-icon>
              </button>
            </ion-col>
            -->
          </ion-row>
         

        </ion-card-header>

        <ion-card-content >

              <ion-row>
                <ion-col >
                  <span class="inlabel">{{ 'FOR_PERIOD' | translate}}</span> {{offer.period_hours}} {{ 'HOURS_LABEL' | translate}}
                </ion-col>
                <ion-col>
                  <span class="inlabel">{{ 'PAYOUT_AMOUNT' | translate}}</span> {{offer.payout}} {{ 'L_E' | translate}}
                </ion-col>
              </ion-row>

              <ion-row *ngIf="offer.period_days>1">
                <ion-col >
                  <span class="inlabel">{{ 'FOR_PERIOD_DAYS' | translate}}</span> {{offer.period_days}} {{ 'DAYS_LABEL' | translate}}
                </ion-col>
                <ion-col>
                  <span class="inlabel">{{ 'TOTAL_PAYMENT' | translate}}</span> {{offer.payout*offer.period_days}} {{ 'L_E' | translate}}
                </ion-col>
              </ion-row>

              <hr/>
                <ion-row no-padding>
                    <ion-col>

                    </ion-col>
                    <ion-col >
                      <button ion-button small color="third" icon-left (click)="applyToOffer(offer)">
                        <ion-icon name='open'></ion-icon>
                        <span class="damargin"></span>
                        {{ 'SHOW_DETAILS' | translate}}
                      </button>
                    </ion-col>
                </ion-row>

        </ion-card-content>


      </ion-card>

  </ion-row>
</ion-grid>


<br/><br/><br/><br/><br/>
 <ion-fab right bottom *ngIf="userInfo.user_mode=='client'">
   <button ion-fab icon-only navPush="OfferEdit" color="third">
     <ion-icon name="add"></ion-icon>
   </button>
 </ion-fab>


</ion-content>
