
<ion-menu [content]="nav">
    <ion-header>
        <ion-toolbar color="secondary">
            <ion-grid>
                <ion-row>
                    <ion-col col-6 offset-1>
                        <ion-icon name="book"></ion-icon> {{userInfo?.first_name}}
                    </ion-col>
                    <ion-col col-4 offset-1>
                        <ion-icon name="book"></ion-icon> PERSON
                    </ion-col>
                    <ion-row><br/><br/><br/></ion-row>
                    <ion-row>
                        <ion-title>{{ 'MENU' | translate }}</ion-title>
                    </ion-row>
                </ion-row>
            </ion-grid>
        </ion-toolbar>
    </ion-header>
    <ion-content class="sidymenu">
        <ion-list >

            <ion-item detail-none 
            *ngIf="!isAuthenticated"
            (click)="onLoad('SignIn')">
                <ion-icon name="log-in"></ion-icon>
                {{ 'SIGN_IN' | translate }}
            </ion-item>

            <ion-item detail-none 
            *ngIf="isAuthenticated"
            (click)="onLoad('Dashboard')">
                <ion-icon name="home"></ion-icon>
                {{ 'HOME' | translate }}
            </ion-item>

            <ion-item detail-none 
            (click)="onLoad('Offers')">
                <ion-icon name="clipboard"></ion-icon>
                {{ 'OFFERS' | translate }}
            </ion-item>


            <ion-item detail-none 
            (click)="onLoad('Internships')">
                <ion-icon name="easel"></ion-icon>
                {{ 'INTERNSHIPS_PROGS' | translate }}
            </ion-item>
            

            <ion-item detail-none 
            *ngIf="isAuthenticated"
            (click)="onLoad('Wallet')">
                <ion-icon name="card"></ion-icon>
                {{ 'WALLET' | translate }}
            </ion-item>

            <ion-item detail-none 
            *ngIf="isAuthenticated"
            (click)="onLoad('UserSetting')">
                <ion-icon name="settings"></ion-icon>
                {{ 'USER_SETTING' | translate }}
            </ion-item>

            <ion-item detail-none 
            (click)="onLoad('AboutApp')">
                <ion-icon name="phone-portrait"></ion-icon>
                {{ 'ABOUT_APP' | translate }}
            </ion-item>

        </ion-list>
    </ion-content>
</ion-menu>
<ion-nav [root]="rootPage" #nav></ion-nav>
